doctype
html
    head
        meta(charset='UTF-8')
        title= title
        meta(name='viewport' content='width=device-width, user-scalable=no')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        link(rel='stylesheet' href='/chatMain.css')
        link(rel='stylesheet' type='text/css' href='/semantic/dist/semantic.min.css')
        script(src='/semantic/jquery-3.1.1.min.js')
        script(src='/semantic/dist/semantic.min.js')
    body
        block content